.flex-container {
  display: flex;
  flex-wrap: nowrap;
}
.image {
  display: flex;
  flex-wrap: wrap;
}
h1,
h2 {
  text-align: center;
}
.video {
  justify-content: center;
}
.box1,
.box2 {
  border: black solid 1px;
  margin-bottom: 20px;
  padding: 10px 10px;
}
.image,
.video {
  width: 50%;
}
h1 {
  color: brown;
}
.item3 {
  padding: 0;
  margin: 0;
}
.item2,
.item5 {
  padding-top: 10px;
}
.item1,
.item2,
.item3,
.item4,
.item5 {
  padding-bottom: 5px;
  padding-right: 10px;
}
.item3 {
  padding-top: 50px;
}
.item6 {
  width: 400px;
  padding-left: 70px;
}
.title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
footer {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding: 10px 10px;
}
form {
  padding: 10px 15px;
  background-color: lightblue;
  border: black solid 1px;
  margin-bottom: 15px;
  margin-top: 15px;
}
input {
  margin-bottom: 7px;
}
.thank {
  color: palevioletred;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
